@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.jumbotron {
    margin-bottom: 0px;
}

html,body{
    height: 100%
}

.container {
    padding: 15px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.footer {
    padding: 0.5em inherit;
    background-color: red;
}