<!DOCTYPE HTML>
<html xmlns:th="htpp://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="header">
    <div class="jumbotron text-center">
        <h1>Kalkulator krajowej podróży służbowej</h1>
        <p class="lead">Kalkulator obliczający wartość kosztów delegacji pracownika</p>
    </div>

    <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{~/}">Strona główna</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbar" role="navigation">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/travel/form}">Kalkulator podróży służbowej</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/admin/createuser}" sec:authorize="hasRole('ADMIN')">Utwórz użytkownika</a>
                    </li>
                </ul>
                <div class="row pull-right">
                    <div class="btn-group" sec:authorize="isAnonymous()">
                        <a class="btn btn-primary" th:href="@{~/login}">Zaloguj się</a>
                        <a class="btn btn-secondary" th:href="@{~/signup}">Zarejestruj się</a>
                    </div>
                    <span sec:authorize="isAuthenticated()">
                        Zalogowany jako <span sec:authentication="name"></span>
                    </span>
                    <span class="col"></span>
                </div>
                <form sec:authorize="isAuthenticated()" th:action="@{~/logout}" method="post">
                    <button class="btn btn-secondary" type="submit">Wyloguj się</button>
                </form>
            </div>
        </nav>
    </div>
</div>

<div th:fragment="footer">
    <div class="jumbotron text-center page-footer">
        <p class="lead">Autorzy strony: Maksymilian Zytkiewicz & Łukasz Źróbek</p>
    </div>
</div>

<div th:fragment="datetimePicker(title, inputId, fieldName)">
    <div class="form-group">
        <label class="form-label" th:utext="${title}"></label>
        <div class="input-group date" th:id="${inputId}" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" th:attr="data-target='#' + ${inputId}" th:field="*{__${fieldName}__}"/>
            <div class="input-group-append" th:attr="data-target='#' + ${inputId}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
    </div>

    <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function() {
                var id = '#' + /*[[${inputId}]]*/ 'default';
                $(id).datetimepicker({format: 'DD.MM.YYYY HH:mm'});
            });
            /*]]>*/
        </script>
</div>

<div th:fragment="stdInput(title, inputId, fieldName, type, placeholder)">
    <div class="form-group">
        <label class="form-label" th:utext="${title}"></label>
        <input th:attr="type=${type}, placeholder=${placeholder}" class="form-control" th:id="${inputId}" th:field="*{__${fieldName}__}"/>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>

<div th:fragment="stdInputRight(title, inputId, fieldName, type, placeholder)">
    <div class="form-group">
        <label class="form-label" th:utext="${title}"></label>
        <input th:attr="type=${type}, placeholder=${placeholder}" class="form-control text-right" th:id="${inputId}" th:field="*{__${fieldName}__}"/>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>


<div th:fragment="textInput(title, inputId, fieldName)">
    <div class="form-group row">
        <label th:attr="for=${inputId}" class="col-3 col-form-label" th:utext="${title}"></label>
        <div class="col-5">
            <input type="text" class="form-control" th:field="*{__${fieldName}__}" th:id="${inputId}">
        </div>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
    </div>
</div>

<div th:fragment="passwordInput(title, inputId, fieldName)">
    <div class="form-group row">
        <label th:attr="for=${inputId}" class="col-3 col-form-label" th:utext="${title}"></label>
        <div class="col-5">
            <input type="password" class="form-control"  th:field="*{__${fieldName}__}" th:id="${inputId}">
        </div>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
    </div>
</div>

<div th:fragment="currencyRight(title, inputId, fieldName, currency)">
    <div class="form-group">
        <label class="form-label" th:utext="${title}"></label>
        <div class="input-group" th:id="${inputId}">
            <input type="text" class="form-control text-right" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" placeholder="0.00" th:field="*{__${fieldName}__}"/>
            <div class="input-group-append">
                <div class="input-group-text" th:text="${currency}"></div>
            </div>
        </div>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>

<div th:fragment="inputWithAppend(title, inputId, fieldName, placeholder, appendText)">
    <div class="form-group">
        <label class="form-label" th:utext="${title}"></label>
        <div class="input-group" th:id="${inputId}">
            <input type="text" class="form-control text-right" th:attr="placeholder=${placeholder}" th:field="*{__${fieldName}__}"/>
            <div class="input-group-append">
                <div class="input-group-text" th:text="${appendText}"></div>
            </div>
        </div>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>
</body>
</html>
