<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="htpp://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <div class="jumbotron text-center">
        <h1>Kalkulator krajowej podróży służbowej</h1>
        <p class="lead">Kalkulator obliczający wartość kosztów delegacji pracownika</p>
    </div>
</div>
<div th:fragment="datetimePicker(title, inputId, fieldName)">
    <div class="form-group">
        <label class="form-label" th:text="${title}"></label>
        <div class="input-group date" th:id="${inputId}" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" th:attr="data-target='#' + ${inputId}" th:field="*{__${fieldName}__}"/>
            <div class="input-group-append" th:attr="data-target='#' + ${inputId}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
    </div>

    <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function() {
                var id = '#' + /*[[${inputId}]]*/ 'default';
                $(id).datetimepicker({format: 'DD.MM.YYYY HH:mm'});
            });
            /*]]>*/
        </script>
</div>

<div th:fragment="stdInput(title, inputId, fieldName, type, placeholder)">
    <div class="form-group">
        <label class="form-label" th:text="${title}"></label>
        <input th:attr="type=${type}, placeholder=${placeholder}" class="form-control" th:id="${inputId}" th:field="*{__${fieldName}__}"/>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>

<div th:fragment="stdInputRight(title, inputId, fieldName, type, placeholder)">
    <div class="form-group">
        <label class="form-label" th:text="${title}"></label>
        <input th:attr="type=${type}, placeholder=${placeholder}" class="form-control text-right" th:id="${inputId}" th:field="*{__${fieldName}__}"/>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>

<div th:fragment="currencyRight(title, inputId, fieldName, currency)">
    <div class="form-group">
        <label class="form-label" th:text="${title}"></label>
        <div class="input-group" th:id="${inputId}">
            <input type="text" class="form-control text-right" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" placeholder="0.00" th:field="*{__${fieldName}__}"/>
            <div class="input-group-append">
                <div class="input-group-text" th:text="${currency}"></div>
            </div>
        </div>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>

<div th:fragment="inputWithAppend(title, inputId, fieldName, placeholder, appendText)">
    <div class="form-group">
        <label class="form-label" th:text="${title}"></label>
        <div class="input-group" th:id="${inputId}">
            <input type="text" class="form-control text-right" th:attr="placeholder=${placeholder}" th:field="*{__${fieldName}__}"/>
            <div class="input-group-append">
                <div class="input-group-text" th:text="${appendText}"></div>
            </div>
        </div>
    </div>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" ></small>
</div>
</body>
</html>
