<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Kalkulator krajowej podróży służbowej</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/travel/form}" th:object="${form}" method="post">
            <div class="form-row">
                <div class="col">
                    <div th:include="_fragments :: datetimePicker('Data i godzina wyjazdu', input1, departureDate)"></div>
                    <div th:include="_fragments :: stdInput('Wysokość diety za dobę podróży', input3, dietCost, text)"></div>
                </div>
                <div class="col">
                    <div th:include="_fragments :: datetimePicker('Data i godzina przyjazdu', input2, returnDate)"></div>
                </div>
            </div>

            <small class="form-text text-danger" th:if="${#fields.hasErrors('${form}')}" th:errors="${form}" ></small>
            <hr>

            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Oblicz</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
